<?xml version='1.0' encoding='utf-8'?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <!-- Name of this panda -->
  <xacro:arg name="arm_id" default="panda" />

  <xacro:include filename="$(find panda_rubik_config)/config/panda_arm.xacro" />
  <xacro:include filename="$(find panda_rubik_config)/config/panda_arm_hand.xacro" />
  <xacro:include filename="$(find panda_rubik_config)/config/hand.xacro" />

  <xacro:panda_arm_semantic arm_id="$(arg arm_id)"/>
  <xacro:panda_arm_hand_semantic arm_id="$(arg arm_id)"/>
  <xacro:hand_semantic arm_id="$(arg arm_id)"/>

</robot>